build
debug
bin
dep/SFML-2.6.1
modules
stt/dep/DeepSpeech
stt/dep/deepspeech-models/deepspeech-0.9.3-models.pbmm
stt/dep/deepspeech-models/deepspeech-0.9.3-models.scorer
dep/deepspeech-models/deepspeech-0.9.3-models.pbmm
dep/deepspeech-models/deepspeech-0.9.3-models.scorer
dep/deepspeech-models/kenlm.scorer
stt/dep/Python-3.7.17
stt/dep/Python-3.7.17.tgz
stt/dep/venv
stt/dep/ds
dep/SFML
dep/old
release/dep/CMakeLists.txt
release/dep/deepspeech-models
release/dep/deepspeech-models/deepspeech-0.9.3-models.pbmm
release/dep/deepspeech-models/deepspeech-0.9.3-models.scorer
release/dep/deepspeech-models/kenlm.scorer
release/dep/imgui
release/dep/imgui-sfml
release/dep/linux
dep/deepspeech-models/kenlm-more-words.scorer
dep/deepspeech-models/kenlm-less-words.scorer
dep/deepspeech-models/kenlm-no-a.scorer
dep/deepspeech-models/kenlm-only-keys.scorer
